@model IEnumerable<EmployeeManagement.tblDepartment>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { @class = "btn btn-warning" })
</p>
<div ng-app="myApp">
    <div ng-controller="myCtrl" ng-init="GetAllData()" class="divList">
        <table class="table">
            <tr>
                <th>
                    <label> Id</label>
                </th>
                <th>
                    <label> Name</label>
                </th>
                <th>Action</th>
            </tr>
            <tr ng-repeat="_dep in Departments">
                <td>
                    {{_dep.Id}}
                </td>
                <td>
                    {{_dep.DepartmentName}}
                </td>
                <td>
                    <input type="button" class="btn btn-warning" value="Update" ng-click="UpdateDepartment(_dep)" />
                    <input type="button" class="btn btn-danger" value="Delete" ng-click="DeleteDepartment(_dep)" />
                </td>
            </tr>
        </table>
    </div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="~/Scripts/notify.min.js"></script>
<script>
    function ShowNotifications(Status) {
        $.notify(status, "error");
    }


    var app = angular.module("myApp", []);
    app.controller("myCtrl", function ($scope, $http, $window) {
        $scope.GetAllData = function () {
            $http({
                method: "get",
                url: "../Departments/GetAllData"
            }).then(function (response) {
                debugger
                $scope.Departments = response.data;
            }, function () {
                alert("Something wen wrong Please try after sometimes!");
            })
        };
        $scope.DeleteDepartment = function (_dep) {
            $http({
                method: "post",
                url: "../Departments/Delete",
                datatype: "json",
                data: JSON.stringify(_dep)
            }).then(function (response) {
                debugger
                if (response.data == "200") {
                    alert("Success");
                }
                else if (response.data == "300") {
                    alert("Something went wrong!")
                }
                else {
                    alert("Error");
                }
                $scope.GetAllData();
            })
        };
        $scope.UpdateDepartment = function (_dep) {
            $window.location.href = '../Departments/Edit/' + _dep.Id;
        }
    })
</script>

